body {
    padding: 0px;
    margin: 0px;
    background-color: #EFEFEF;
}

div {
    border: blue dashed 1px;
}

.section {
    width: 100%;
    height: 100%;
}

.content-container {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
